p::first-letter{
    font-size: 50px;
   color: blue 
}

.list{
    color: darkgreen
}

a:visited{
    color: maroon;
}

a:hover{
    background-color: yellow;
}

a:active{
    color:blue;
}